.keyboard-text {
    display: block;
    width: 100%;
    max-width: 800px;
    min-height: 200px;
    margin: 20px auto;
    box-sizing: border-box;
}

.keyboard {
    width: 1150px;
    padding: 5px 5px;
    background: #004134;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}

.keyboard__key {
    background-color: #ffffff;
    height: 45px;
    min-width: 45px;
    padding: 10px 10px;
    color: #004134;
    cursor: pointer;
    font-size: 20px;
    margin: 5px;
    text-align: center;


}

.key_wide {
    width: 90px;
}

.key_superwide {
    width: 420px;
}

